  <header class="site-header">
      <!-- Logo + nombre, enlace al inicio -->
      <a class="site-logo" href="#" aria-label="Ir al inicio de CyberHub">
          <span class="site-logo__mark" aria-hidden="true">
              <img class="site-logo__image" src="../assets/header-auth/20f28.png" alt="" />
              <span class="site-logo__ticks">
                  <img src="../assets/header-auth/ae140.svg" alt="" />
                  <img src="../assets/header-auth/ae140.svg" alt="" />
                  <img src="../assets/header-auth/ae140.svg" alt="" />
                  <img src="../assets/header-auth/ae140.svg" alt="" />
                  <img src="../assets/header-auth/ae140.svg" alt="" />
                  <img src="../assets/header-auth/ae140.svg" alt="" />
              </span>
          </span>

          <span class="site-logo__text">
              <span>Cyber</span>
              <strong>HUB</strong>
          </span>
      </a>
  </header>
